<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet href="/static/css/dashStyle.css">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>
    <div class="hero-image">
        <div class="container"><p class="hero-text display-3">Welcome, <%=user.username  %></p>  </div>
    </div>
    <br><br><br>
    <div>
        <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
            <div class="container-fluid text-white">
                <div class="navbar-header">
                    <a class="navbar-brand">Fit Track</a>
                </div>
                <ul class="nav navbar-nav list-inline">
                <li class="list-inline-item"><form id="navlink2" method="GET" action="/api/Excercises"><a href="#" style="color:white" onclick="document.getElementById('navlink2').submit()">Exercises</a></form></li>
                <li class="list-inline-item"><form id="navlink3" method="POST" action="/api/dashboard">
                                      <a href="#" type="submit" style="color:white" onclick="document.getElementById('navlink3').submit()">Dashboard</a></form></li>
                <li class="active list-inline-item"><form id="navlink1" method="GET" action="/"><a href="#" style="color:white" onclick="document.getElementById('navlink1').submit()">Sign Out</a></form></li> <!-- These all need to be linked -->

                <!-- <li class="list-inline-item"><a href="#" style="color:white">Community</a></li> -->
                </ul>
            </div>
        </nav>
    </div>
    <div class="container" id="wrapper">
        <div class="card" id="first">
            <div class="card-body">
                <div class="container-fluid" id="av1container">
                    <%-self.img_src%>
                    <div class="middle">
                        <button class="btn btn-dark" value="Change Pic" data-toggle="modal" data-target="#pic_modal">Change Pic</button>
                    </div>
                </div>
                <h1 name="name"><%=self.name%></h1>
                <!-- <p class="title" id="">title</p> -->
                <p style="width: 225px"><%=self.bio%></p>
                <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                <!-- <a href="#"><i class="fa fa-linkedin"></i></a> -->
                <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                <br>
                <input type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dash_modal" placeholder="Enter bio here" value="About me">
                <!-- </form> -->
                    <div class="modal fade" id="dash_modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">About me:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST" action="/api/dashboard">       <!-- This is a form page for the bio of the user -->
                                <div class="modal-body">
                                    <div class="form-group">
                                        Name:
                                        <input name="name" class="form-control" placeholder="Enter name" value="<%=self.name%>"></input>
                                    </div>
                                    <div class="form-group">
                                    Bio:
                                    <textarea id="bioarea" class="form-control" name="bio" placeholder="Enter bio"><%= self.bio %></textarea>
                                    </div>
                                    <!-- <input type="hidden" name="username" value="<%=self.username%>"/> -->
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="_method" value="put"/>
                                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="pic_modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Profile Picture:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST" action="/api/dashboard/avatar" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="filehover">Select an image:</label>
                                        <input type="file" class="form-control-file" id="filehover" name="avatar">
                                    </div>
                                    <!-- <input type="hidden" name="username" value="<%=self.username%>"/> -->
                                </div>
                                <div class="modal-footer">
                                    <!-- <input type="hidden" name="_method" value="put"/> -->
                                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
            <!-- Used to present heigh weight and other stats about the user-->
            <div>
                <br><br>
                <p style = "width: 300px"><img src="/static/images/measuring-tape.png" alt="height"> Height:<%= stats.height %> inches</p>
            </div>
            <p style = "width: 300px"><img src="/static/images/weight.png" alt="weight"> Weight: <%= stats.weight %> pounds</p>
            <p style = "width: 300px"><img src="/static/images/time.png" alt="age">  Age: <%= stats.age %> years</p>
            <p style = "width: 300px"><img src="/static/images/gender.png" alt="gender">  Gender: <%= stats.gender %></p>

            <button type = "button" class="btn btn-secondary" data-toggle="modal" data-target="#formModal">
                Add my stats
            </button>
            <div class="modal fade" id="formModal">
                <div class="modal-dialog modal-login">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Enter Your Stats</h4>
                      <button type="button" class="close" data-dismiss="modal">x</button>
                    </div>
                    <form method="POST" action="/api/dashboard">
                    <div class="modal-body">
                      <div class="form-group">
                        <label>Height</label>
                        <input id="height" type="text" class="form-control" name="height" placeholder="ex. 68in" value="<%=stats.height%>"></input>
                      </div>
                      <div class="form-group">
                        <label>Weight</label>
                        <input id="weight" type="text" class="form-control" name="weight" placeholder="ex. 125lbs" value="<%= stats.weight %>"></input>
                      </div>
                      <div class="form-group"> <!--Added Age and Gender-->
                        <label>Age</label>
                        <input id="age" type="text" class="form-control" name="age" placeholder="ex. 25yrs" value="<%= stats.age %>"></input>
                      </div>
                      <div class="form-group">
                        <label>Gender</label>
                        <input id="gender" type="text" class="form-control" name="gender" placeholder="ex. Male" value="<%= stats.gender %>"></input>
                      </div>
                      <div class="form-group">
                        <button type="submit" id="statSubmit" class="btn btn-primary">Submit Stats</button>
                      </div>
                    </div>
                    <input type="hidden" name="_method" value="put"/>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- <br> -->
        <div class="tableFixHead">
            <table class="table" id="second">
                <thead class="thead-dark">
                    <tr><th>Exercises</th><th>Current best</th></tr>
                </thead>
                <tbody class="p-3 mb-2 bg-info text-body">
                    <tr><td>A1</td><td>A2</td></tr>
                    <tr><td>B1</td><td>B2</td></tr>
                    <tr><td>C1</td><td>C2</td></tr>
                    <tr><td>D1</td><td>D2</td></tr>
                    <tr><td>E1</td><td>E2</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tableFixHead">
            <table class="table" id="second">
                <thead class="thead-dark">
                    <tr><th>Day</th><th>Caloric Intake</th><th>Daily Total</th></tr>
                </thead>
                <tbody class="p-3 mb-2 bg-info text-body">
                    <tr><td>Sunday</td><td>A1</td><td>A2</td></tr>
                    <tr><td>Monday</td><td>A1</td><td>A2</td></tr>
                    <tr><td>Tuesday</td><td>B1</td><td>B2</td></tr>
                    <tr><td>Wednesday</td><td>C1</td><td>C2</td></tr>
                    <tr><td>Thursday</td><td>D1</td><td>D2</td></tr>
                    <tr><td>Friday</td><td>E1</td><td>E2</td></tr>
                    <tr><td>Saturday</td><td>A1</td><td>A2</td></tr>
                </tbody>
            </table>
        </div>
        <div class="tableFixHead">
            <table class="table" id="second">
                <thead class="thead-dark">
                    <tr><th>Day</th><th>Water Intake</th><th>Daily Total</th></tr>
                </thead>
                <tbody class="p-3 mb-2 bg-info text-body">
                  <tr><td>Sunday</td><td>A1</td><td>A2</td></tr>
                  <tr><td>Monday</td><td>A1</td><td>A2</td></tr>
                  <tr><td>Tuesday</td><td>B1</td><td>B2</td></tr>
                  <tr><td>Wednesday</td><td>C1</td><td>C2</td></tr>
                  <tr><td>Thursday</td><td>D1</td><td>D2</td></tr>
                  <tr><td>Friday</td><td>E1</td><td>E2</td></tr>
                  <tr><td>Saturday</td><td>A1</td><td>A2</td></tr>
                </tbody>
            </table>
        </div>
        <br></br>
        <h5> Your Weight Loss Goal Progress </h5>
        <div class="progress" style="height: 20px;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</body>

</html>
